<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out - TYPISTIAL</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header__inner">
                <a href="/index.html" class="logo flex"><img src="/assets/images/logo.svg" alt=""><span>TYPISTIAL</span></a>
                <nav class="header-nav">
                    <ul class="flex" style="gap: 30px">
                        <li class="nav__item"><a href="/index.html" class="nav__link">TRANG CHỦ</a></li>
                        <li class="nav__item">
                            <a href="" class="nav__link">SẢN PHẨM</a>
                            <nav>
                                <ul class="subnav">
                                    <li class="nav__item">
                                        <a href="" class="nav__link">CATEGORIES</a>
                                        <ul>
                                            <li class="nav__item"><a class="nav__link" href="">IN STOCK</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">KEYBOARDS</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">KITS</a></li>
                                            <li class="nav__item"><a class="nav__link" href="/html/switches.html">SWITCHES</a>
                                            </li>
                                            <li class="nav__item"><a class="nav__link" href="/html/keycaps.html">KEYCAPS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav__item"><a href="/html/keycaps.html" class="nav__link">KEYCAPS</a>
                                        <ul>
                                            <li class="nav__item"><a class="nav__link" href="">GMK DUALSHOT® 2 Keycaps</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">OTC Modo® Light Keycaps</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">GMK Norse Keycap Set</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">GMK 8008 2 Keycap Set</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">OTC 9009 Keycaps</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__item"><a href="/html/kits.html" class="nav__link">KITS</a>
                                        <ul>
                                            <li class="nav__item"><a class="nav__link" href="">SPR 67 Kit</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">ACR TOP 75 Kit</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">5075S Kit</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">ACR Pro Alice Plus Kit</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">ACR Pro 75 Kit</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__item"><a href="/html/switches.html" class="nav__link">SWITCHES</a>
                                        <ul>
                                            <li class="nav__item"><a class="nav__link" href="/html/milky-pro.html">Gateron KS-3
                                                    Milky Pro Switch Set</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">Gateron Ink V2 Switch Set</a>
                                            </li>
                                            <li class="nav__item"><a class="nav__link" href="">Gateron Cap V2 Switch Set</a>
                                            </li>
                                            <li class="nav__item"><a class="nav__link" href="">Gateron Box CJ Linear Switch
                                                    Set</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">Gateron Box Ink V2 Switch Set</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav__item"><a href="/html/pre-built.html" class="nav__link">PRE-BUILT
                                            KEYBOARDS</a>
                                        <ul>
                                            <li class="nav__item"><a class="nav__link" href="">IQUNIX OG80 Wormhole Wireless</a>
                                            </li>
                                            <li class="nav__item"><a class="nav__link" href="">IQUNIX L80 Formula Typing
                                                    Wireless</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">Keychron Q8 (Alice Layout)
                                                    QMK</a></li>
                                            <li class="nav__item"><a class="nav__link" href="">AKKO Black&Cyan 5075B Plus</a>
                                            </li>
                                            <li class="nav__item"><a class="nav__link" href="">AKKO Dracula Castle 5075B
                                                    Plus</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                        <li class="nav__item"><a href="" class="nav__link">LIÊN HỆ</a></li>
                        <li class="nav__item"><a href="/html/about-us.html" class="nav__link">VỀ CHÚNG TÔI</a></li>
                    </ul>
                </nav>
                <nav class="header-nav right__nav">
                    <ul class="flex">
                        <li class="nav__item">
                            <!-- expand search-bar -->
                            <div class="search-bar">
                                <input type="text" name="searchbar" placeholder="Search..." class="bar">
                                <i class="fa-solid fa-magnifying-glass magni-icon" style="cursor: pointer;"></i>
                            </div>
                        </li>
                        <li class="nav__item"><a href="/html/log-in.html" class="nav__link">
                                <i class="fa-solid fa-user"></i></a>
                        </li>
                        <li class="nav__item">
                            <a href="/html/cart.html" class="nav__link"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </ul>
                </nav>
                <ul class="header-nav respon-bar-icon flex">
                    <li class="nav__item">
                        <!-- expand search-bar -->
                        <div class="search-bar">
                            <input type="text" name="searchbar" placeholder="Search..." class="bar">
                            <i class="fa-solid fa-magnifying-glass magni-icon" style="cursor: pointer;"></i>
                        </div>
                    </li>
                    <li class="nav__item">
                        <i class="fa-solid fa-bars open-btn"></i>
                    </li>
                </ul>
            </div>
        </header>
        <!-- respon nav bar -->
        <div class="respon-nav">
            <div class="respon-nav__icons">
                <ul class="respon-left-nav flex">
                    <li class="nav__item">
                        <a href="/html/index.html" class="nav__link"><i class="fa-solid fa-home"></i></a>
                    </li>
                    <li class="nav__item">
                        <a href="/html/log-in.html" class="nav__link"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="nav__item">
                        <a href="/html/cart.html" class="nav__link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
                <i class="fa-solid fa-bars respon-bar-icon close-btn"></i>
            </div>
            <ul class="respon-nav__content">
                <li class="nav__item">
                    <a href="/html/pre-built.html" class="nav__link">Keyboards</a>
                </li>
                <li class="nav__item">
                    <a href="/html/switches.html" class="nav__link">Switches</a>
                </li>
                <li class="nav__item">
                    <a href="/html/keycaps.html" class="nav__link">Keycaps</a>
                </li>
                <li class="nav__item">
                    <a href="/html/kits.html" class="nav__link">Kits</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Deskpads</a>
                </li>
            </ul>
        </div>
        <div class="respon-overlay"></div>
            <!-- main section -->
            <main class="section checkout-main-section">
                <nav>
                    <ul class="payment__nav">
                        <div class="toggle-dropdown" style="display: none;"><i class="fa-solid fa-sliders"></i> Giỏ hàng</div>  
                        <li class="nav__item"><i class="fa-solid fa-box"></i><a href="/html/cart.html" class="nav__link">Giỏ hàng</a></li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fa-solid fa-chevron-right"></i></a></li>
                        <li class="nav__item active"><i class="fa-solid fa-wallet"></i><a href="/html/checkout.html" class="nav__link">Thanh toán</a></li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fa-solid fa-chevron-right"></i></a></li>
                        <li class="nav__item">
                            <i class="fa-solid fa-credit-card"></i><a href="/html/payment.html" class="nav__link">Phương thức thanh toán</a>
                        </li>
                    </ul>
                    <ul class="payment__respon__nav">
                        <li class="nav__item"><i class="fa-solid fa-box"></i><a href="/html/cart.html" class="nav__link">Giỏ hàng</a></li>
                        <li class="nav__item active"><i class="fa-solid fa-wallet"></i><a href="/html/checkout.html" class="nav__link">Thanh toán</a></li>
                        <li class="nav__item">
                            <i class="fa-solid fa-credit-card"></i><a href="/html/payment.html" class="nav__link">Phương thức thanh toán</a>
                        </li>
                    </ul>
                </nav>
                <div class="checkout__wrapper flex" style="flex-wrap: wrap-reverse">
                    <div class="checkout__form__wrapper">
                        <form action="" method="post" class="checkout__form">
                            <h4 for="" class="cart__form__title">Chọn quốc gia*</h4>
                            <div class="form__group country__options">
                                <select name="country" id="country" class="form__select">
                                    <option value="vn" selected>Việt Nam</option>
                                    <option value="china">Trung Quốc</option>
                                    <option value="canada">Canada</option>
                                    <option value="us">Mỹ</option>
                                    <option value="kor">Hàn Quốc</option>
                                </select>
                            </div>
                            <hr style="margin-block: 30px">
                            <h4 class="cart__form__title" style="margin-bottom: 18px;">Địa chỉ giao dịch</h4>
                            <div class="form__group">
                                <label for="" class="cart__form__label">Địa chỉ*</label>
                                <input type="text" class="form__input" placeholder="Nhập địa chỉ giao hàng">
                                <p class="form__message"></p>
                            </div>
                            <div class="form__group">
                                <label for="" class="cart__form__label">Email*</label>
                                <input type="text" class="form__input" placeholder="Nhập email của bạn">
                                <p class="form__message"></p>
                            </div>
                            <div class="form__group">
                                <label for="" class="cart__form__label">Số điện thoại*</label>
                                <input type="text" class="form__input" placeholder="Nhập số điện thoại của bạn">
                                <p class="form__message"></p>
                            </div>
                            <div class="form__group">
                                <label for="" class="cart__form__label">Nhập tên đường và số nhà*</label>
                                <input type="text" class="form__input" placeholder="Nhập tên đường / số nhà">
                                <p class="form__message"></p>
                            </div>
                            <div class="flex" style="flex-wrap: wrap">
                                <div class="form__group">
                                    <label for="" class="cart__form__label">Chọn thành phố / tỉnh*</label>
                                    <select name="" id="" class="form__select">
                                        <option value="" selected>TP.HCM</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <label for="" class="cart__form__label">Chọn quận / huyện*</label>
                                    <select name="" id="" class="form__select">
                                        <option value="" selected>Tân Bình</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="shipping__options">
                            <div class="shipping__option">
                                <div class="flex" style="gap: 12px">
                                    <i class="fa-regular fa-circle option-btn"></i>
                                    <i class="fa-regular fa-circle-check option-btn"></i>
                                    <div>
                                        <h5 class="option__name">Miễn phí</h5>
                                        <p>7 - 30 ngày (tùy quốc gia)</p>
                                    </div>
                                </div>
                                <p class="shipping__price">$0</p>
                            </div>
                            <div class="shipping__option active">
                                <div class="flex" style="gap: 12px">
                                    <i class="fa-regular fa-circle-check option-btn"></i>
                                    <i class="fa-regular fa-circle option-btn"></i>
                                    <div>
                                        <h5 class="option__name">Thông thường</h5>
                                        <p>3 - 14 ngày (tùy quốc gia)</p>
                                    </div>
                                </div>
                                <p class="shipping__price">$11</p>
                            </div>
                            <div class="shipping__option">
                                <div class="flex" style="gap: 12px">
                                    <i class="fa-regular fa-circle option-btn"></i>
                                    <i class="fa-regular fa-circle-check option-btn"></i>
                                    <div>
                                        <h5 class="option__name">Hỏa tốc</h5>
                                        <p>1 - 3 ngày (tùy quốc gia)</p>
                                    </div>
                                </div>
                                <p class="shipping__price">$19</p>
                            </div>
                        </div> 
                    </div>
                    <div class="checkout__summary">
                        <div class="summary__product flex">
                            <div class="flex" style="gap: 8px">
                                <div class="summary__product__banner"></div>
                                <div>
                                    <div class="summary__product__name">Gateron KS-3 Milky Pro</div>
                                    <div class="product__option flex">
                                        <span>Yellow</span>
                                        <span>110 switches</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product__price">$165.00</div>
                        </div>
                        <div class="summary__coupon">
                            <h4 class="coupon__title">Mã giảm giá</h4>
                            <div class="form__group">
                                <input class="form__input" type="text" placeholder="Nhập mã giảm giá ">
                                <button class="form__btn">Áp dụng</button>
                            </div>
                            <p class="call-to-action">Bạn là khác hàng mới ? <a class="hightlight__text">Đăng ký</a> ngay để nhận giá tốt hơn</p>
                        </div>
                        <div class="summary__detail">
                            <div class="detail__item">
                                <h5 class="detail__title">Tiền sản phẩm</h5>
                                <p class="detail__cost" style="color: #050728; font-weight: 800;">$165.00</p>
                            </div>
                            <div class="detail__item">
                                <h5 class="detail__title">Giảm giá</h5>
                                <p class="detail__cost">$0</p>
                            </div>
                            <div class="detail__item">
                                <h5 class="detail__title">Phí vận chuyển</h5>
                                <p class="detail__cost">$11</p>
                            </div>
                        </div>
                        <hr style="margin-block: 12px;">
                        <div class="checkout__summary__total detail__item">
                            <h4 class="detail__title" style="font-size: 18px;">Tổng tiền</h4>
                            <p class="detail__cost" style="color: #050728; font-weight: 800; font-size: 18px">$176.00</p>           
                        </div>
                        <a href="/html/payment.html" class="form__btn">Tiếp tục</a>
                    </div>
                </div>
            </main>
        <!-- footer -->
        <footer class="footer flex">
            <div class="logo">
                <a href="#">
                    <img src="/assets/images/logo.svg" alt="">
                    <h1>TYPISTIAL</h1>
                </a>
            </div>
            <div class="footer__top flex">
                <div class="follow-us">
                    <p class="follow-us-content">Đăng ký danh sách email của chúng tôi để trở thành một trong những người đầu
                        tiên biết về các sản phẩm mới, giảm giá, giảm giá và giảm giá, v.v.! Là người đăng ký mới, bạn sẽ nhận
                        được mã cá nhân để sử dụng cho đơn hàng đầu tiên của mình.
                    </p>
                    <form action="" class="follow-us-form">
                        <div class="form-group"><input type="text" placeholder="Email"></div>
                        <a href="#" class="form__btn btn">ĐĂNG KÝ NGAY</a>
                    </form>
                </div>
                <nav class="footer__nav">
                    <h2 class="nav__title">TYPISTIAL</h2>
                    <ul class="about-us">
                        <li class="nav__item"><a href="/html/about-us.html" class="nav__link">VỀ TÁC GIẢ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">LIÊN HỆ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">BÁN SỈ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">PHẢN HỒI</a></li>
                        <li class="nav__item"><a href="" class="nav__link">CHÍNH SÁCH HOÀN TRẢ</a></li>
                        <li class="nav__item"><a href="" class="nav__link">DỊCH VỤ KHÁCH HÀNG</a></li>
                    </ul>
                </nav>
                <nav class="footer__nav">
                    <h2 class="nav__title">SHOP</h2>
                    <ul class="shop">
                        <li class="nav__item"><a href="" class="nav__link">TẤT CẢ SẢN PHẨM</a></li>
                        <li class="nav__item"><a href="/html/log-in.html" class="nav__link">TÀI KHOẢN</a></li>
                        <li class="nav__item"><a href="/html/keycaps.html" class="nav__link">KEYCAPS</a></li>
                        <li class="nav__item"><a href="/html/switches.html" class="nav__link">SWITCHES</a></li>
                        <li class="nav__item"><a href="/html/pre-built.html" class="nav__link">KEYBOARDS</a></li>
                    </ul>
                </nav>
                <nav class="footer__nav">
                    <h2 class="nav__title">FOLLOW US</h2>
                    <ul class="social__icons flex">
                        <li class="nav__item"><a href="" class="nav__link"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="nav__item"><a href="https://github.com/hoanggiang2912/Giang_Profile" class="nav__link"><i
                                    class="fa-brands fa-github"></i></a></li>
                        <li class="nav__item"><a href="" class="nav__link"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <hr style="margin: 0">
        <footer class="right-reserved">
            <h4>© 2023 TYPISTIAL ™</h4>
            <h4>ALL RIGHT RESERVED</h4>
        </footer>
    </div>
</body>
<script src="/js/main.js"></script>
</html>